{% extends "base.html" %}

{% block content %}
	<div class=header>
		<h1>Nature Mecanique</h1>
		<h2>A life through sounds.</h2>
		<div class=sub-info>
	</div>

{% if clips %}
	<ul class="flat">
    {% for clip in clips %}
		<li>
			<span class="tablelink"><a target=_blank href="{{ clip.name }}">{{ clip.title|title }}</a></span>
			<span class="tabledesc">{{ clip.record_date }}</span>
			<span class="tabledesc">{% for loc in clip.location.all %}{{ loc|title }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
			<span class="tabledesc">{{ clip.description|safe|escape }}</span>
		</li>
    {% endfor %}
	</ul>
{% else %}
    <p>No clips to display.</p>
{% endif %}

{% endblock %}
